.App {
  height: 100vh;
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.Get-button {
  border: none;
  height: 10vh;
  width: 90%;
  margin: 3%;
  color: white;
  float: left;
  background-color: #414141;
  font-size: calc(10px + 2vmin);
}

.Get-button:hover {
  background-color: #282c34;
}

.Sidebar {
  width: 25%;
  height: 100%;
  position: absolute;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
  float: left;
}

.Main {
  background-color: #282c34;
  position: absolute;
  height: 100%;
  margin-left: 25%;
  width: 75%;
  color: white;
  font-size: calc(10px + 2vmin);
}

.Login-body {
  color: white;
  font-size: calc(10px + 2vmin);
}

.Login-button {
  border: none;
  height: 10vh;
  width: 10%;
  margin: 3%;
  color: white;
  background-color: #414141;
  font-size: calc(10px + 2vmin);
}

.Login-button:hover {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}
